.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 20px;
}

.messageContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.username {
  font-weight: bold;
  margin-right: 5px;
}

.textarea {
  font-size: 20px;
  width: 50%;
  height: 50px;
  padding: 8px;
  margin-bottom: 10px;
}

.button {
  font-size: 20px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.button:hover {
  background-color: #0056b3;
}
