.chatContainer {
  display: flex;
  height: 100vh;
}

h2{
  color:black;
  font-size: 23px;
}

.userList {
  flex: 1;
  background: #1e8ac95f;
  padding: 27px;
}

.userList li {
  color:black;
  font-size: 23px;
}

.chatWrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.header {
  background: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.users {
  font-size: 14px;
}

.left {
  background: rgb(253, 73, 73);
  border-radius: 6px;
  font-size: 14px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.messages {
  flex-grow: 1;
  background: #f1f1f1;
  overflow-y: scroll;
  padding: 20px;
}

.form {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 20px;
}

.input {
  flex-grow: 1;
  margin-right: 10px;
}

.input input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px  solid black;
  border-radius: 4px;
}

.button input {
  background: #333;
  color: #fff;
  border: 2px  solid black;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.userListContainer{
  display: flex;
  flex-direction: column;
  font-size: 33px;
}

.emoji {
  position: relative;
}

.emoji img {
  margin: 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.emojies {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(100% + 10px);
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

